<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
    <head>
        <meta charset="UTF-8">
        <title>Pet Clinic - Index</title>
    </head>
    <body>
        <!--N.B. - Need single quotes around the String we want to insert on Runtime (because Thymeleaf evaluates it as an expression in this scenario)-->
        <h2 th:text="#{welcome}">Welcome</h2> <!--#{welcome} is a Reference to a Message Properties file-->
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
            </div>
        </div>
    </body>
</html>